# Dependencies
node_modules/
.pnp
.pnp.js

# Environment
.env
.env.local

# Virtual Environment
venv/
env/
.venv/
ENV/
env.bak/
venv.bak/

# Output
output/
public/*
!public/cache/.gitkeep

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Build
dist/
build/

# Logs
*.log
npm-debug.log*
